{%extends 'base.html'%}

{%block title%} SedgusCode-about{%endblock%}

{%block content%}
  
  <section class="m-10 py-12 bg-blue-500">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold text-center">Misión</h2>
      <p class="text-lg text-center text-justify rounded border">
        Tener la Ingeniería de Software con los conocimientos, habilidades y valores necesarios para diseñar, desarrollar, implementar y mantener sistemas de software de alta calidad
      </p>
    </div>
  </section>
  
  <section class="m-10 py-12 bg-blue-500">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold text-center">Nuestra visión</h2>
      <p class="text-lg text-center text-justify rounded border">
        Ser un ingeniero de software con un gran desempeño en la creación de sistemas innovadores que impacten positivamente en la sociedad.
      </p>
    </div>
  </section>

{%endblock%}