{%extends 'base.html'%}

{%block title%} SedgusCode - Home{%endblock%}

{%block content%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css') }}">

<link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
<div class="main">

  <span class="scroll-left scroll-chevron">❮</span>
  <span class="scroll-right scroll-chevron">❯</span>
  <section class="carousel">
    <div class="carousel__container">
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1438072/pexels-photo-1438072.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="People">
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo del vídeo en curso</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
          <div class="carousel-item__details--icons">
            <i class="fa fa-2x fa-play-circle"></i>
            <i class="fa fa-2x fa-plus-circle"></i>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1173777/pexels-photo-1173777.jpeg?cs=srgb&dl=aerial-aerial-photography-aerial-shot-1173777.jpg&fm=jpg" alt="People">
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo del vídeo en curso</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
          <div class="carousel-item__details--icons">
            <i class="fa fa-2x fa-play-circle"></i>
            <i class="fa fa-2x fa-plus-circle"></i>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/2489986/pexels-photo-2489986.jpeg?cs=srgb&dl=bangs-beautiful-beauty-2489986.jpg&fm=jpg" alt="People">
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo del vídeo en curso</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
          <div class="carousel-item__details--icons">
            <i class="fa fa-2x fa-play-circle"></i>
            <i class="fa fa-2x fa-plus-circle"></i>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/2365701/pexels-photo-2365701.jpeg?cs=srgb&dl=blur-city-commuter-2365701.jpg&fm=jpg" alt="People">
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo del vídeo en curso</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
          <div class="carousel-item__details--icons">
            <i class="fa fa-2x fa-play-circle"></i>
            <i class="fa fa-2x fa-plus-circle"></i>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/2065805/pexels-photo-2065805.png?cs=srgb&dl=adult-beautiful-denim-jacket-2065805.jpg&fm=jpg" alt="People">
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo del vídeo en curso</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
          <div class="carousel-item__details--icons">
            <i class="fa fa-2x fa-play-circle"></i>
            <i class="fa fa-2x fa-plus-circle"></i>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1253718/pexels-photo-1253718.jpeg?cs=srgb&dl=botanical-cacti-cactus-1253718.jpg&fm=jpg" alt="People">
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo del vídeo en curso</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
          <div class="carousel-item__details--icons">
            <i class="fa fa-2x fa-play-circle"></i>
            <i class="fa fa-2x fa-plus-circle"></i>

          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="carousel-item__img" src="https://images.pexels.com/photos/1797350/pexels-photo-1797350.jpeg?cs=srgb&dl=beauty-close-up-dark-1797350.jpg&fm=jpg" alt="People">
        <div class="carousel-item__details">
          <p class="carousel-item__details--title">Título descriptivo del vídeo en curso</p>
          <p class="carousel-item__details--subtitle">2019 16+ 114 minutos</p>
          <div class="carousel-item__details--icons">
            <i class="fa fa-2x fa-play-circle"></i>
            <i class="fa fa-2x fa-plus-circle"></i>

          </div>
        </div>
      </div>

    </div>
  </section>

</div>
<link rel="stylesheet" href="{{ url_for('static', filename='js/carousel.js') }}">

{%endblock%}